.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0 1rem;
    gap: 1.5rem;
  }

  // mobiili
  @media (max-width: 768px) {
    gap: 1rem;
  }

  // pieni mobiili
  @media (max-width:480px) {
    gap: 0.5rem;
  }

  &__item {
    margin: 0;
  }

  &__link {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Berserker', sans-serif; /* Berserker fontti */
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 0.3rem 0.5rem;

    // Tabletti: 1rem
    @media (max-width: 1024px) {
      font-size: 1rem;
    }
    
    // Mobiili: 0.9rem
    @media (max-width: 768px) {
      font-size: 0.9rem;
      padding: 0.2rem 0.3rem;
    }
    
    // Pieni mobiili: 0.8rem
    @media (max-width: 480px) {
      font-size: 0.8rem;
      padding: 0.15rem 0.25rem;
    }

    &:hover {
      color: #64b5f6;
    }

    &.active {
      color: #64b5f6;
      font-weight: bold;
      border-bottom: 2px solid #64b5f6;
    }
  }
}
